The are two fikes in the project folder:
The first file which is related to the text has three columns including:
- Phone for sending the text
- Phone for receiving the text
- Timestamp of the text

The second file relates to the calls which has four columns inclusing:
- The first column relates to phone number to give a call
- The second column relates to the phone number to receive a call 
- The third column relates to the timestamp of the call 
- The fourth column relates to the duration of the call in seconds

- The first phone types which is a land line
Fixed lines start with an area code enclosed in brackets.
The area codes vary in length but always begin with 0. Example: "(022)40840621".

- The second type which is a mobile number:
Mobile numbers have no parentheses, but have a space in the middle of the number to help readability. The mobile code of a mobile number is its first four digits and they always start with 7, 8 or 9. Example: "93412 66159".

- The third type which is a last type as well belongs to the telemarketers and there is no space or prenthecis.
Telemarketers' numbers have no parentheses or space, but start with the code 140. Example: "1402316533".

 #### code implementation:
 There are four steps which need to be implemented:
 - Implementing the code from Task0 to Task4
 - Calculate Big O

## Task_0

TASK 0:
What is the first record of texts and what is the last record of calls?
- Print messages:
- "First record of texts, <incoming number> texts <answering number> at time <time>"
- "Last record of calls, <incoming number> calls <answering number> at time <time>, lasting <during> seconds"

In [61]:
import csv
import pandas as pd
with open('texts.csv','r') as f:
    reader=csv.reader(f)
    texts=list(reader)
    
with open('calls.csv','r') as f:
    reader=csv.reader(f)
    calls=list(reader)
 
"""
TASK 0:
What is the first record of texts and what is the last record of calls?
Print messages:
"First record of texts, <incoming number> texts <answering number> at time <time>"
"Last record of calls, <incoming number> calls <answering number> at time <time>, lasting <during> seconds"
"""

'\nTASK 0:\nWhat is the first record of texts and what is the last record of calls?\nPrint messages:\n"First record of texts, <incoming number> texts <answering number> at time <time>"\n"Last record of calls, <incoming number> calls <answering number> at time <time>, lasting <during> seconds"\n'

### TASK 1:
- How many different telephone numbers are there in the records? 
- Print a message: "There are <count> different telephone numbers in the records."

In [68]:
Total=(len(calls)+len(texts))*2
print('There are{0:6d} different telephone numbers in the records'.format(Total))

28570

There are 28570 different telephone numbers in the records

In [57]:
Texts_PD.head()

     Text_Send Text_Received Text_Time_Stamp
0  97424 22395   90365 06212   1/9/2016 6:03
1  94489 72078   92415 91418   1/9/2016 6:05
2  81520 43406   92421 64236   1/9/2016 6:09
3  97389 12538   90352 50054   1/9/2016 6:09
4  81515 42171   98440 02823   1/9/2016 6:13

In [58]:
Texts_PD.groupby('Text_Send').head()

        Text_Send Text_Received      Text_Time_Stamp
0     97424 22395   90365 06212        1/9/2016 6:03
1     94489 72078   92415 91418        1/9/2016 6:05
2     81520 43406   92421 64236        1/9/2016 6:09
3     97389 12538   90352 50054        1/9/2016 6:09
4     81515 42171   98440 02823        1/9/2016 6:13
5     78132 18081   77956 90632        1/9/2016 6:19
6     90352 50054   97389 12538        1/9/2016 6:30
7     90359 99240   94491 55790        1/9/2016 6:32
8     78295 65598   84313 45689        1/9/2016 6:34
9     93412 66159   98454 07778        1/9/2016 6:36
10    78295 65598   84313 45689        1/9/2016 6:52
11    84319 39746   95263 76972        1/9/2016 6:53
12    90082 61126   90366 69257        1/9/2016 6:55
13    97393 04671   95262 44233        1/9/2016 6:57
14    97414 15280   90199 91061        1/9/2016 6:59
15    78133 10302   93423 23000        1/9/2016 7:02
16    78295 65598   84313 45689        1/9/2016 7:06
17    78132 18081   77956 90632        1/9/2016 7:08
18    94489 72078   92415 91418        1/9/2016 7:08
19    97421 07528   90083 59148        1/9/2016 7:18
20    78295 78750   97449 50000        1/9/2016 7:18
21    99009 32475   78138 56841        1/9/2016 7:21
22    77956 90632   92411 96415        1/9/2016 7:35
23    97391 99665   90368 72970        1/9/2016 7:41
24    93435 31225   87141 37314        1/9/2016 7:44
25    83019 39880   87146 31956        1/9/2016 7:46
26    98446 78140   98440 65896        1/9/2016 7:47
27    78299 99223   92424 51984        1/9/2016 7:49
28    97391 99665   90368 72970        1/9/2016 7:52
29    90192 87313   78139 24512        1/9/2016 7:54
...           ...           ...                  ...
5445  90351 49472   90199 67471  18-09-2016 23:45:21
5474  90194 08626   98444 95768  19-09-2016 07:15:28
5511  97380 86781   97380 60551  19-09-2016 10:07:11
5712  99001 85033   74066 93594  19-09-2016 21:53:51
5720  78298 91466   97380 60551  19-09-2016 22:45:30
5805  78298 02848   99001 95783  20-09-2016 09:28:16
5845  97406 93118   98453 46196  20-09-2016 11:36:43
5928  97414 62027   95267 70383  20-09-2016 16:37:42
5996  99001 85033   74066 93594  20-09-2016 20:00:52
6081  97406 93118   98453 46196  21-09-2016 07:04:13
6116  97404 63904   97447 92655  21-09-2016 09:09:48
6125  78298 91466   97380 60551  21-09-2016 09:39:54
6336  90194 08626   98444 95768  21-09-2016 23:04:49
6383  87140 67779   89072 39789  22-09-2016 07:32:53
6543  97404 63904   97447 92655  22-09-2016 16:11:25
6550  78298 91466   97380 60551  22-09-2016 16:45:21
6688  97406 93118   98453 46196  23-09-2016 06:59:28
6796  90351 49472   90199 67471  23-09-2016 13:45:00
6798  78298 02848   99001 95783  23-09-2016 13:49:02
6863  93435 98939   97403 49292  23-09-2016 17:58:34
6889  90363 85738   99610 89720  23-09-2016 19:19:46
7109  89076 07067   93421 63491  24-09-2016 15:13:28
8076  97414 97237   87146 58071  27-09-2016 20:25:30
8077  90351 49472   90199 67471  27-09-2016 20:27:58
8259  97414 62027   95267 70383  28-09-2016 13:09:54
8280  87140 67779   89072 39789  28-09-2016 14:28:05
8470  78293 91304   98448 86633  29-09-2016 07:27:29
8603  78293 91304   98448 86633  29-09-2016 15:01:18
8799  97414 62027   95267 70383  30-09-2016 07:44:06
8813  90351 49472   90199 67471  30-09-2016 08:26:30

[1164 rows x 3 columns]

In [49]:
pieces=Calls_PD[Calls_PD['Call_Send'],Calls_PD['Call_Received']]

TypeError: '(0         78130 00821
1         78298 91466
2         97424 22395
3         93427 40118
4         90087 42537
5         97427 87999
6       (080)45291968
7         78132 18081
8         98453 46196
9         78290 99865
10      (04344)228249
11      (080)62164823
12      (0821)6141380
13        98446 66723
14        90088 09624
15        93427 56500
16      (040)26738737
17      (080)67362492
18        90192 87313
19        97421 07528
20        78130 00821
21      (080)69245029
22      (044)30727085
23        92421 09526
24        98440 65896
25      (022)47410783
26      (080)47459867
27        97427 87999
28      (080)23802940
29        97380 60551
            ...
5183      98449 60656
5184    (080)44046839
5185      77956 90632
5186      98446 78140
5187    (044)49481100
5188    (022)21884607
5189      70129 62374
5190      97424 21092
5191    (080)45687418
5192      97429 02055
5193      84314 00609
5194      93435 98939
5195      87146 31956
5196    (080)45291968
5197    (080)62164823
5198      98440 68457
5199    (080)67362492
5200    (044)41581342
5201      97389 12538
5202      78295 60375
5203      97380 60551
5204      90083 59148
5205    (022)38214945
5206    (022)40840621
5207    (080)62164823
5208      70129 62374
5209      98444 95768
5210      95267 70383
5211      90368 95100
5212      98447 62998
Name: Call_Send, Length: 5213, dtype: object, 0         98453 94494
1       (022)28952819
2       (022)47410783
3       (080)33118033
4       (080)35121497
5       (04344)322628
6         90365 06212
7         77956 90632
8         94005 06213
9         89071 31755
10      (080)43901222
11        74066 93594
12        90366 69257
13        83019 53227
14        93434 31551
15        98447 12671
16        90194 00845
17      (04344)316423
18      (080)33251027
19        97399 92703
20        98453 94494
21      (044)49481100
22        92414 22596
23      (080)69150162
24      (080)47459867
25        93412 26084
26        98440 65896
27      (04344)322628
28        98445 71741
29        81524 55552
            ...
5183      90084 16988
5184    (080)62342282
5185      78132 18081
5186      98444 72482
5187    (080)69245029
5188      90083 59148
5189      98441 32533
5190      98451 87493
5191      93414 19669
5192      81510 47188
5193      99007 06998
5194      97403 49292
5195      97384 69866
5196      90365 06212
5197    (080)32255824
5198      95264 40233
5199    (04344)316423
5200      97429 02055
5201      90352 50054
5202      93410 98013
5203      78298 91466
5204    (022)21884607
5205    (080)65647085
5206      97393 52893
5207      74066 93594
5208      98441 32533
5209      99003 47921
5210    (080)34121098
5211    (080)29483476
5212    (080)46304537
Name: Call_Received, Length: 5213, dtype: object)' is an invalid key

In [24]:
Total=[]
for ii in range(len(text)):
    for item in texts[ii][0]:
        Total.append(texts[ii][0])

IndexError: list index out of range

In [1]:
"""
Read file into texts and calls.
It's ok if you don't understand how to read files.
"""
import csv
with open('texts.csv', 'r') as f:
    reader = csv.reader(f)
    texts = list(reader)

with open('calls.csv', 'r') as f:
    reader = csv.reader(f)
    calls = list(reader)


"""
TASK 0:
What is the first record of texts and what is the last record of calls?
Print messages:
"First record of texts, <incoming number> texts <answering number> at time <time>"
"Last record of calls, <incoming number> calls <answering number> at time <time>, lasting <during> seconds"
"""

FileNotFoundError: [Errno 2] No such file or directory: 'texts.csv'